{% extends 'basetruck.html.twig' %}

{% block title %}Hello TruckController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h3>Bonjour {{ username }}</h3><br>

    <p> Cet espace est dédié aux propriétaires et gestionnaires de Trucksfood.<br>
    Vous y retroverez toutes les informations concernant votre enseigne.<br>
    Vous pourrez biensur mettre à jour ces derniéres ainsi que votre carte en <br>
    vous rendant sur les liens correspond dans la barre de navigation ci-dessus.<br>
    Vous pourrez également consulter les commandes qui vous sont adressées.<br>
    Si c'est votre premiére connexion veuillez renseigner les différentes rubriques<br>
    que sont les informations vous concernant afin que vos clients potentiels <br>
    puissent vous trouver ainsi que votre carte.<br>


</div>
{% endblock %}
