{% extends 'basetruck.html.twig' %}

{% block title %}Hello TruckController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h3>Bonjour {{ username }}</h3><br>

    <p> Cet espace est dédié aux propriétaires et gestionnaires de Foodtrucks.<br>
    Vous y retrouverez toutes les informations concernant votre enseigne.<br>
    Vous pourrez biensur mettre à jour ces derniéres,vos adresses ainsi que<br>
    votre carte en vous rendant sur le lien "Ma Page".<br>
    Vous pourrez également consulter les commandes qui vous sont adressées.<br>
    Si c'est votre <strong>premiére connexion</strong> veuillez renseigner les différentes rubriques<br>
    que sont les <strong>informations vous concernant</strong>, ainsi que vos <strong>produits</strong>, et<br>
    à minima <strong>une adresse</strong> via le menu "Nouvel Enregistrement<br>
    afin que vos clients potentiels puissent vous trouver et prendre connaissance<br>
    de votre Carte.<br>


</div>
{% endblock %}
